{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff                    {:local/root ".."}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        metosin/muuntaja                    {:mvn/version "0.6.8"}
        ring/ring-defaults                  {:mvn/version "0.3.4"}
        org.clojure/clojure                 {:mvn/version "1.11.1"}
        babashka/fs                         {:mvn/version "0.5.20"}
        babashka/process                    {:mvn/version "0.5.21"}
        babashka/babashka.curl              {:mvn/version "0.1.2"}
        io.github.clojure/tools.build {:git/sha "24f2894"
                                       :git/tag "v0.9.5"
                                       :git/url "https://github.com/clojure/tools.build.git"}

        ;; Combinators and abstractions
        cloroutine/cloroutine {:mvn/version "11"}

        ;; Time
        tick/tick {:mvn/version "0.7.5"}
        com.widdindustries/time-literals {:mvn/version "0.1.10"} ;; edn data literals

        ;; Notes on logging: https://gist.github.com/jacobobryant/76b7a08a07d5ef2cc076b048d078f1f3
        org.slf4j/slf4j-simple     {:mvn/version "2.0.0-alpha5"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j     {:mvn/version "1.7.36"}
        org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.36"}}}
